/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.products{
    position: relative;
}

.products__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 35px;
    margin-bottom: 80px;

    @include s.mq('tab') {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 8px;
    }
}

.top-page .item-card:first-child{
    grid-row: 1 / span 2;

    @include s.mq('tab'){
        grid-column: 1 / span 2;
    }
}

.top-page .item-card:first-child img{
    height: 93%;
    object-fit: cover;
    object-position: right center;

    @include s.mq('tab') {
        height: auto;
    }
}

.item-card__gap{
    margin-bottom: 4px;
}

.item-card__info p{
    font-size: 16px;
    color: s.$colorWhite;

    @include s.mq('tab'){
        font-size: 14px;
    }
}

.grid__sideText{
    position: absolute;
    top: 45%;
    left: 10px;
    transform: translateY(-52%);
    writing-mode: sideways-lr;
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    display: flex;
    align-items: center;

    @include s.mq('tab'){
        display: none;
    }
}

.grid__sideText::before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 24px;
}

.button__text{
    width: 240px;
    height: 50px;
    border: 1px solid s.$borderColor;
    margin: 0 auto 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: s.$colorWhite;

    @include s.mq('tab'){
        margin-bottom: 80px;
    }
}