/*-------------------------------------------
itemページ / item*.html
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.item-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin: 32px 0 120px 0;

    @include s.mq('tab') {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
}

.item-layout__title{
    font-size: 36px;
    color: s.$colorWhite;
    margin-bottom: 24px;

    @include s.mq('tab') {
        font-size: 24px;
        margin: 0 0 16px;
    }
}

.item-layout__price{
    font-size: 24px;
    color: s.$colorWhite;
    margin-bottom: 32px;

    @include s.mq('tab') {
        font-size: 20px;
    }
}

.quantity-wrapper{
    display: flex;
    flex-direction: column;
}

.quantity-label{
    color: s.$colorWhite;
    font-size: 14px;
    margin-bottom: 4px;
}

.quantity-input{
    width: 160px;
    height: 40px;
    padding: 6px;
    background-color: s.$colorWhite;
}

.item-layout__cart{
    width: 240px;
    height: 50px;
    background-color: #ba0808;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 48px;
}

.cart-button{
    color: s.$colorWhite;
}

.fa-solid{
    margin-left: 4px;
}

.fa-cart-shopping::before{
    content: "\f07a";
}

.item-layout__description{
    line-height: 1.9;
    color: s.$colorWhite;
}

.item-layout__description--first{
    margin-bottom: 16px;
}